@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Sans+Bengali:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.bangla {
  font-family: 'Hind Siliguri', sans-serif;
}

.hero {
  background: linear-gradient(180deg,#274690,#0B3D91);
}


/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    radial-gradient(0.71em at 50% 1em,#000 99%,#0000 101%) calc(50% - 1em) 1em/2em 200% repeat-x text,
    radial-gradient(0.71em at 50% -0.5em,#0000 99%,#000 101%) 50% 1.5em/2em 200% repeat-x text;
  animation: 
    l10-0 .8s linear infinite alternate,
    l10-1  4s linear infinite;
}
.loader:before {
  content: "Loading";
}
@keyframes l10-0 {
  to {background-position-x: 50%,calc(50% + 1em)}
}
@keyframes l10-1 {
  to {background-position-y: -.5em,0}
}


/* ---------- Gradient Animation ---------- */
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---------- Tailwind Utilities ---------- */
@layer utilities {
  .bg-300\% {
    background-size: 300% 300%;
  }

  .animate-gradient {
    animation: animatedgradient 6s ease infinite alternate;
  }
}
